{% extends 'base.html.twig' %}

{% block title %}NewsDetails index{% endblock %}

{% block body %}
    <h1>NewsDetails index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>ShortDescription</th>
                <th>Picture</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for news_detail in news_details %}
            <tr>
                <td>{{ news_detail.id }}</td>
                <td>{{ news_detail.title }}</td>
                <td>{{ news_detail.shortDescription }}</td>
                <td>{{ news_detail.picture }}</td>
                <td>{{ news_detail.createdAt ? news_detail.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ news_detail.updatedAt ? news_detail.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_news_details_show', {'id': news_detail.id}) }}">show</a>
                    <a href="{{ path('app_news_details_edit', {'id': news_detail.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_news_details_new') }}">Create new</a>
{% endblock %}
